### Résultats de l'assimilations

In [74]:
import pandas as pd
import os

# Définissez le chemin du dossier contenant les fichiers Excel
dossier = "Nouveaux codes postaux"
dataframes = []

for fichier in os.listdir(dossier):
    if fichier.endswith(".xlsx"):
        chemin_fichier = os.path.join(dossier, fichier)

        dataframe = pd.read_excel(chemin_fichier)
        dataframes.append(dataframe)

# Fusionnez les DataFrames en un seul DataFrame
merged_dataframe = pd.concat(dataframes, ignore_index=True)

# Supprimez les doublons en fonction de l'index
merged_dataframe = merged_dataframe[~merged_dataframe.index.duplicated(keep='first')]

# Affichez les noms des colonnes
print("Noms des colonnes :")
print(list(merged_dataframe.columns))

# Affichez les premières lignes du DataFrame fusionné
print("Aperçu du DataFrame fusionné :")
merged_dataframe

Noms des colonnes :
['Code postal', '% dans la zone', 'Communes associées au code postal', 'Nom des communes associées au code postal', 'IRIS associés au code postal']
Aperçu du DataFrame fusionné :

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,45120,69,"45061, 45068, 45104, 45156","Cepoy, Châlette-sur-Loing, Corquilleroy, Girolles","450610000, 450680101, 450680102, 450680103, 45..."
1,45490,44,"45103, 45114, 45158, 45186, 45206, 45207, 4525...","Corbeilles, Courtempierre, Gondreville, Lorcy,...","451030000, 451140000, 451580000, 451860000, 45..."
2,45700,16,"45092, 45102, 45105, 45185, 45212, 45216, 4524...","Chevillon-sur-Huillard, Conflans-sur-Loing, Co...","450920000, 451020000, 451050000, 451850000, 45..."
3,45270,10,"45017, 45027, 45031, 45078, 45150, 45178, 4520...","Auvilliers-en-Gâtinais, Beauchamps-sur-Huillar...","450170000, 450270000, 450310000, 450780000, 45..."
4,15000,87,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
...,...,...,...,...,...
444,26190,11,"26059, 26066, 26117, 26163, 26217, 26223, 2627...","Bouvante, La Motte-Fanjas, Le Chaffal, Léoncel...","260590000, 260660000, 261170000, 261630000, 26..."
445,42520,8,"42018, 42124, 42129, 42132, 42191, 42201, 4227...","Bessey, Lupé, Maclas, Malleval, Roisey, Saint-...","420180000, 421240000, 421290000, 421320000, 42..."
446,7000,8,"07004, 07072, 07074, 07090, 07092, 07098, 0714...","Ajoux, Coux, Creysseilles, Flaviac, Freyssenet...","070040000, 070720000, 070740000, 070900000, 07..."
447,7100,6,"07010, 07041, 07197, 07265","Annonay, Boulieu-lès-Annonay, Roiffieux, Saint...","070100101, 070100102, 070100103, 070100201, 07..."
448,38270,5,"38032, 38034, 38037, 38198, 38209, 38219, 3824...","Beaufort, Beaurepaire, Bellegarde-Poussieu, Ja...","380320000, 380340000, 380370000, 381980000, 38..."

In [75]:
unique_merged_dataframe = merged_dataframe.drop_duplicates(subset=['Code postal'])
unique_merged_dataframe

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,45120,69,"45061, 45068, 45104, 45156","Cepoy, Châlette-sur-Loing, Corquilleroy, Girolles","450610000, 450680101, 450680102, 450680103, 45..."
1,45490,44,"45103, 45114, 45158, 45186, 45206, 45207, 4525...","Corbeilles, Courtempierre, Gondreville, Lorcy,...","451030000, 451140000, 451580000, 451860000, 45..."
2,45700,16,"45092, 45102, 45105, 45185, 45212, 45216, 4524...","Chevillon-sur-Huillard, Conflans-sur-Loing, Co...","450920000, 451020000, 451050000, 451850000, 45..."
3,45270,10,"45017, 45027, 45031, 45078, 45150, 45178, 4520...","Auvilliers-en-Gâtinais, Beauchamps-sur-Huillar...","450170000, 450270000, 450310000, 450780000, 45..."
4,15000,87,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
...,...,...,...,...,...
441,7790,15,07205,Saint-Alban-d'Ay,072050000
444,26190,11,"26059, 26066, 26117, 26163, 26217, 26223, 2627...","Bouvante, La Motte-Fanjas, Le Chaffal, Léoncel...","260590000, 260660000, 261170000, 261630000, 26..."
445,42520,8,"42018, 42124, 42129, 42132, 42191, 42201, 4227...","Bessey, Lupé, Maclas, Malleval, Roisey, Saint-...","420180000, 421240000, 421290000, 421320000, 42..."
447,7100,6,"07010, 07041, 07197, 07265","Annonay, Boulieu-lès-Annonay, Roiffieux, Saint...","070100101, 070100102, 070100103, 070100201, 07..."
448,38270,5,"38032, 38034, 38037, 38198, 38209, 38219, 3824...","Beaufort, Beaurepaire, Bellegarde-Poussieu, Ja...","380320000, 380340000, 380370000, 381980000, 38..."

### Recherche dans la base de données

In [76]:
import psycopg2
import pandas as pd

# Récupérez les codes postaux du DataFrame
codes_postaux = unique_merged_dataframe["Code postal"].tolist()

# Convertissez les codes postaux en chaînes de caractères (str)
codes_postaux_str = [str(code_postal) for code_postal in codes_postaux]

# Établissez la connexion à votre base de données PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="Base",
    user="waouhmonde",
    password="waouhmonde"
)

# Créez une requête SQL pour rechercher les lignes correspondantes dans votre table
query = "SELECT * FROM ma_table WHERE code_postal IN %s"

# Exécutez la requête SQL en utilisant les codes postaux convertis comme paramètres
df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

# Fermez la connexion à la base de données
conn.close()

# Affichez le DataFrame résultant
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_8444\233544305.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

,id,nom,adresse,code_postal,ville,numero_telephone,tranche_age,autre_colonne
0,176630,Rouchez Veronique,CHEYLANE,15300,LAVEISSENET,973572685,+ 70 Ans,1
1,182937,Delpuech Catherine,,15120,MONTSALVY,471496654,ENTRE 18 ET 30 ANS,1
2,181574,BELAUBRE MANON,,15600,MAURS,463274346,ENTRE 18 ET 30 ANS,1
3,249278,Elise Amblard,CHEM BESSE,26400,GRANE,984329603,ENTRE 30 ET 50 ANS,2
4,203733,Pons Florent,LE COUDERC,15130,YOLET,950087705,ENTRE 18 ET 30 ANS,1
...,...,...,...,...,...,...,...,...
185490,556909,Pierre Brunat,LE BOURG,71250,VITRY LÈS CLUNY,963212524,ENTRE 50 ET 70 ANS,2
185491,556910,Pierre Emorine,VERS LE PONT,71250,VITRY LES CLUNY,385594674,ENTRE 50 ET 70 ANS,1
185492,556911,Sophie Broustal,LIEU-DIT VERS LE PONT,71250,VITRY LÈS CLUNY,385599980,ENTRE 30 ET 50 ANS,2
185493,556912,Sylviane Vigreux,PRÉ DES ETANGS,71250,VITRY LÈS CLUNY,385594659,ENTRE 50 ET 70 ANS,1
185494,556913,Thomas Weber,MOULIN DE CHIGY,71250,VITRY LÈS CLUNY,385346320,ENTRE 18 ET 30 ANS,1

### Charger le fichiers pour Bloctelisation

In [4]:
import pandas as pd

# Supposons que vous ayez un DataFrame appelé df que vous souhaitez enregistrer dans un fichier Excel
# Spécifiez le nom du fichier Excel dans lequel vous souhaitez enregistrer le DataFrame
nom_fichier_excel = 'FichierSimilation.xlsx'

# Utilisez la méthode to_excel pour enregistrer le DataFrame dans le fichier Excel
df.to_excel(nom_fichier_excel, index=False)  # L'argument index=False évite d'enregistrer l'index du DataFrame

print(f"Le DataFrame a été enregistré dans {nom_fichier_excel}")

Le DataFrame a été enregistré dans FichierSimilation.xlsx

### Codes Postal Par Sectioons

In [51]:
import pandas as pd
import os

# Définissez le chemin du dossier contenant les fichiers Excel
dossier = "Nouveaux codes postaux"
dataframes = {}

# Listes pour stocker les noms des variables locales et des DataFrames
noms_variables_locales = []
noms_dataframes = []

for i, fichier in enumerate(os.listdir(dossier)):
    if fichier.endswith(".xlsx"):  
        nom_dataframe = os.path.splitext(fichier)[0].replace(" ", "_")  # Remplace les espaces par des soulignements
        chemin_fichier = os.path.join(dossier, fichier)
        
        # Chargez les données dans le DataFrame correspondant et renommez la variable locale
        nom_variable_dataframe = f"df_{nom_dataframe}"
        locals()[nom_variable_dataframe] = pd.read_excel(chemin_fichier)

        dataframes[nom_dataframe] = locals()[nom_variable_dataframe]
        
        noms_variables_locales.append(nom_variable_dataframe)
        noms_dataframes.append(nom_dataframe)

# Affichez les noms des DataFrames
print("Liste des noms de variables locales :")
print(noms_variables_locales)

Liste des noms de variables locales :
['df_15_GONDE', 'df_AURILLAC_15', 'df_AURILLAC_30', 'df_AURILLAC_3H', 'df_AURILLAC_45', 'df_CReCHE_15', 'df_CReche_30', 'df_CReche_3heure', 'df_CReche_45', 'df_Gondreville_30', 'df_Gondreville_3h', 'df_Gondreville_45', 'df_PRIVAS__15', 'df_PRIVAS_30', 'df_PRIVAS_3heurs', 'df_PRIVAS_45', 'df_Roquebrun_15', 'df_Roquebrune_30', 'df_Roquebrune_45', 'df_Roquebrune3h', 'df_VALENCE_15', 'df_VALENCE_30', 'df_VALENCE_3heurs', 'df_VALENCE_45']

In [32]:
df_AURILLAC_30

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,15000,100,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
1,15250,96,"15016, 15056, 15083, 15095, 15118, 15140, 1516...","Ayrens, Crandelles, Jussac, Laroquevieille, Ma...","150160000, 150560000, 150830000, 150950000, 15..."
2,15130,90,"15012, 15028, 15058, 15074, 15085, 15090, 1515...","Arpajon-sur-Cère, Carlat, Cros-de-Ronesque, Gi...","150120101, 150120102, 150280000, 150580000, 15..."
3,15220,90,"15117, 15163, 15172, 15196, 15264","Marcolès, Roannes-Saint-Mary, Saint-Antoine, S...","151170000, 151630000, 151720000, 151960000, 15..."
4,15120,58,"15082, 15084, 15087, 15089, 15093, 15103, 1513...","Junhac, Labesserette, Lacapelle-del-Fraisse, L...","150820000, 150840000, 150870000, 150890000, 15..."
5,15310,49,"15072, 15075, 15175, 15191, 15238","Freix-Anglards, Girgols, Saint-Cernin, Saint-I...","150720000, 150750000, 151750000, 151910000, 15..."
6,15290,48,"15030, 15144, 15147, 15166, 15214, 15224, 15268","Cayrols, La Ségalassière, Le Rouget-Pers, Omps...","150300000, 151440000, 151470000, 151660000, 15..."
7,15590,47,"15096, 15113, 15178, 15252","Lascelle, Mandailles-Saint-Julien, Saint-Cirgu...","150960000, 151130000, 151780000, 152520000"
8,15800,33,"15017, 15081, 15146, 15154, 15159, 15180, 1519...","Badailhac, Jou-sous-Monjou, Pailherols, Polmin...","150170000, 150810000, 151460000, 151540000, 15..."
9,15150,32,"15011, 15057, 15076, 15088, 15094, 15135, 1514...","Arnac, Cros-de-Montvert, Glénat, Lacapelle-Vie...","150110000, 150570000, 150760000, 150880000, 15..."
10,15340,11,"15027, 15029, 15226","Cassaniouze, Puycapel, Sénezergues","150270000, 150290000, 152260000"
11,15600,7,"15021, 15104, 15122, 15133, 15157, 15167, 1518...","Boisset, Le Trioulou, Leynhac, Maurs, Montmura...","150210000, 151040000, 151220000, 151330000, 15..."
12,15140,5,"15063, 15067, 15070, 15174, 15176, 15179, 1518...","Besse, Drugeac, Fontanges, Le Fau, Saint-Bonne...","150630000, 150670000, 150700000, 151740000, 15..."

In [7]:
df_AURILLAC_15

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,15000,87,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
1,15130,31,"15012, 15028, 15058, 15074, 15085, 15090, 1515...","Arpajon-sur-Cère, Carlat, Cros-de-Ronesque, Gi...","150120101, 150120102, 150280000, 150580000, 15..."
2,15250,12,"15016, 15056, 15083, 15095, 15118, 15140, 1516...","Ayrens, Crandelles, Jussac, Laroquevieille, Ma...","150160000, 150560000, 150830000, 150950000, 15..."
3,15220,8,"15117, 15163, 15172, 15196, 15264","Marcolès, Roannes-Saint-Mary, Saint-Antoine, S...","151170000, 151630000, 151720000, 151960000, 15..."

In [8]:
df_CReCHE_15

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,69400,86,"69013, 69092, 69115, 69159, 69264","Arnas, Gleizé, Limas, Porte des Pierres Dorées...","690130000, 690920101, 690920102, 690920103, 69..."
1,69830,71,69206,Saint-Georges-de-Reneins,692060000
2,1480,67,"01021, 01030, 01075, 01157, 01166, 01194, 0124...","Ars-sur-Formans, Beauregard, Chaleins, Fareins...","010210000, 010300000, 010750000, 011570000, 01..."
3,69480,54,"69005, 69009, 69106, 69122, 69126, 69140, 69156","Ambérieux, Anse, Lachassagne, Lucenay, Marcy, ...","690050000, 690090000, 691060000, 691220000, 69..."
4,1600,53,"01238, 01250, 01285, 01322, 01339, 01347, 0135...","Massieux, Misérieux, Parcieux, Reyrieux, Saint...","012380000, 012500000, 012850000, 013220000, 01..."
5,69650,43,"69163, 69207","Quincieux, Saint-Germain-au-Mont-d'Or","691630000, 692070000"
6,69640,33,"69061, 69074, 69105, 69137, 69159, 69167, 6921...","Cogny, Denicé, Lacenas, Montmelas-Saint-Sorlin...","690610000, 690740000, 691050000, 691370000, 69..."
7,1090,8,"01165, 01169, 01183, 01225, 01258, 01263","Francheleins, Genouilleux, Guéreins, Lurcy, Mo...","011650000, 011690000, 011830000, 012250000, 01..."
8,69460,6,"69023, 69145, 69151, 69172, 69197, 69198, 69257","Blacé, Le Perréon, Odenas, Saint-Étienne-des-O...","690230000, 691450000, 691510000, 691720000, 69..."

In [9]:
df_PRIVAS__15

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,7000,45,"07004, 07072, 07074, 07090, 07092, 07098, 0714...","Ajoux, Coux, Creysseilles, Flaviac, Freyssenet...","070040000, 070720000, 070740000, 070900000, 07..."
1,7210,32,"07008, 07022, 07066, 07194, 07219, 07260, 0729...","Alissas, Baix, Chomérac, Rochessauve, Saint-Ba...","070080000, 070220000, 070660000, 071940000, 07..."

In [10]:
df_Roquebrun_15

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,83370,29,83061,Fréjus,"830610101, 830610102, 830610103, 830610104, 83..."
1,83380,24,83107,Roquebrune-sur-Argens,"831070101, 831070102, 831070103, 831070104"
2,83520,24,83107,Roquebrune-sur-Argens,"831070101, 831070102, 831070103, 831070104"
3,83600,18,"83001, 83008, 83061","Bagnols-en-Forêt, Fréjus, Les Adrets-de-l'Estérel","830010000, 830080000, 830610101, 830610102, 83..."

In [11]:
df_VALENCE_15

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,26500,97,26058,Bourg-lès-Valence,"260580101, 260580102, 260580201, 260580202, 26..."
1,26600,47,"26038, 26071, 26072, 26110, 26119, 26156, 2617...","Beaumont-Monteux, Chanos-Curson, Chantemerle-l...","260380000, 260710000, 260720000, 261100000, 26..."
2,26320,23,26313,Saint-Marcel-lès-Valence,263130000
3,7300,21,"07063, 07086, 07097, 07152, 07177, 07217, 0724...","Cheminas, Glun, Mauves, Plats, Saint-Barthélem...","070630000, 070860000, 070970000, 071520000, 07..."
4,7130,12,"07059, 07070, 07281, 07293, 07316, 07323","Châteaubourg, Cornas, Saint-Péray, Saint-Romai...","070590000, 070700000, 072810101, 072810102, 07..."
5,26300,6,"26004, 26023, 26039, 26049, 26057, 26079, 2608...","Alixan, Barbières, Beauregard-Baret, Bourg-de-...","260040000, 260230000, 260390000, 260490000, 26..."
6,26000,6,26362,Valence,"263620101, 263620102, 263620103, 263620104, 26..."

In [17]:
import psycopg2
import pandas as pd

# Récupérez les codes postaux du DataFrame
codes_postaux = df_VALENCE_15["Code postal"].tolist()

# Convertissez les codes postaux en chaînes de caractères (str)
codes_postaux_str = [str(code_postal) for code_postal in codes_postaux]

# Établissez la connexion à votre base de données PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="Base",
    user="waouhmonde",
    password="waouhmonde"
)

# Créez une requête SQL pour rechercher les lignes correspondantes dans votre table
query = "SELECT * FROM ma_table WHERE code_postal IN %s"

# Exécutez la requête SQL en utilisant les codes postaux convertis comme paramètres
df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

# Fermez la connexion à la base de données
conn.close()

# Affichez le DataFrame résultant
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_8444\2921161763.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

,id,nom,adresse,code_postal,ville,numero_telephone,tranche_age,autre_colonne
0,253742,JC Belle,485 Rue CROIX,26600,LARNAGE,475070433,+ 70 Ans,1
1,130276,Hamelin Viviane,lot Accacias 20 RUE DES BRUYERES,26600,ST MARTIN DE VALAMAS,475847954,ENTRE 30 ET 50 ANS,1
2,205715,Antoine Carrier,5 AV DAUPHINE PROVENCE,26300,ALIXAN,475473905,ENTRE 30 ET 50 ANS,2
3,205684,(Groupe Echelle Atlantique Ouest) G.E.A.O,ZA LES MARLHES RN 532,26300,ALIXAN,475054063,+ 70 Ans,1
4,205685,Abdellah Talibi,405 Rue BATTOIR,26300,ALIXAN,953027103,ENTRE 18 ET 30 ANS,1
...,...,...,...,...,...,...,...,...
45491,332223,Julien Biersse,95 RTE NATIONALE 7,26600,SERVES SUR RHONE,954114952,ENTRE 18 ET 30 ANS,2
45492,332224,Julien Montagne,643 CHEM PLAINE,26600,SERVES SUR RHONE,950588796,ENTRE 18 ET 30 ANS,1
45493,332225,Julien Mussle,8 IMP POMMIÈRE,26600,SERVES SUR RHÔNE,475231314,ENTRE 18 ET 30 ANS,1
45494,332226,Laëtitia Terru,2 CLOS MANEVAL,26600,SERVES SUR RHONE,475237458,ENTRE 30 ET 50 ANS,1
45495,332227,Laurence et Franck Verget,128 CHEM BIAUNE,26600,SERVES SUR RHONE,475033564,+ 70 Ans,2

In [22]:
df_AURILLAC_30

Empty DataFrame
Columns: [Code postal, % dans la zone, Communes associées au code postal, Nom des communes associées au code postal, IRIS associés au code postal]
Index: []

###  Liste des noms de variables locales :
['df_15_GONDE', 'df_AURILLAC_15', 'df_AURILLAC_30', 'df_AURILLAC_3H', 'df_AURILLAC_45', 'df_CReCHE_15', 'df_CReche_30', 'df_CReche_3heure', 'df_CReche_45', 'df_Gondreville_30', 'df_Gondreville_3h', 'df_Gondreville_45', 'df_PRIVAS__15', 'df_PRIVAS_30', 'df_PRIVAS_3heurs', 'df_PRIVAS_45', 'df_Roquebrun_15', 'df_Roquebrune_30', 'df_Roquebrune_45', 'df_Roquebrune3h', 'df_VALENCE_15', 'df_VALENCE_30', 'df_VALENCE_3heurs', 'df_VALENCE_45']

In [69]:
import pandas as pd
codes_postaux = df_Roquebrune_30['Code postal'].tolist()
df_Roquebrune_45 = df_Roquebrune_45[~df_Roquebrune_45['Code postal'].isin(codes_postaux)]

In [70]:
a = len(df_Roquebrune_45)
a

20

In [ ]:
df_Gondreville_30, df_Roquebrune_30,df_CReche_30

In [ ]:
import pandas as pd

# Charger les données depuis les fichiers Excel
df_15_min = pd.read_excel('chemin_vers_fichier_excel_15_min.xlsx')
df_30_min = pd.read_excel('chemin_vers_fichier_excel_30_min.xlsx')
df_45_min = pd.read_excel('chemin_vers_fichier_excel_45_min.xlsx')

# Convertir les colonnes de codes postaux en ensembles pour faciliter les opérations
set_15_min = set(df_15_min['Code Postal'])
set_30_min = set(df_30_min['Code Postal'])
set_45_min = set(df_45_min['Code Postal'])

# Obtenir les codes postaux de 30 min qui ne sont pas dans les 15 min
codes_postaux_diff_15_30 = set_30_min - set_15_min

# Obtenir les codes postaux de 45 min qui ne sont pas dans les 30 min
codes_postaux_diff_30_45 = set_45_min - set_30_min

# Afficher les résultats
print("Codes postaux de 30 min qui ne sont pas dans les 15 min :")
print(codes_postaux_diff_15_30)
print("\nCodes postaux de 45 min qui ne sont pas dans les 30 min :")
print(codes_postaux_diff_30_45)