In [1]:
import pandas as pd
import os

# Définissez le chemin du dossier contenant les fichiers Excel
dossier = "Nouveaux codes postaux"
dataframes = []

for fichier in os.listdir(dossier):
    if fichier.endswith(".xlsx"):
        chemin_fichier = os.path.join(dossier, fichier)

        dataframe = pd.read_excel(chemin_fichier)
        dataframes.append(dataframe)

# Fusionnez les DataFrames en un seul DataFrame
merged_dataframe = pd.concat(dataframes, ignore_index=True)

# Supprimez les doublons en fonction de l'index
merged_dataframe = merged_dataframe[~merged_dataframe.index.duplicated(keep='first')]

# Affichez les noms des colonnes
print("Noms des colonnes :")
print(list(merged_dataframe.columns))

# Affichez les premières lignes du DataFrame fusionné
print("Aperçu du DataFrame fusionné :")
merged_dataframe

Noms des colonnes :
['Code postal', '% dans la zone', 'Communes associées au code postal', 'Nom des communes associées au code postal', 'IRIS associés au code postal']
Aperçu du DataFrame fusionné :

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,45120,69,"45061, 45068, 45104, 45156","Cepoy, Châlette-sur-Loing, Corquilleroy, Girolles","450610000, 450680101, 450680102, 450680103, 45..."
1,45490,44,"45103, 45114, 45158, 45186, 45206, 45207, 4525...","Corbeilles, Courtempierre, Gondreville, Lorcy,...","451030000, 451140000, 451580000, 451860000, 45..."
2,45700,16,"45092, 45102, 45105, 45185, 45212, 45216, 4524...","Chevillon-sur-Huillard, Conflans-sur-Loing, Co...","450920000, 451020000, 451050000, 451850000, 45..."
3,45270,10,"45017, 45027, 45031, 45078, 45150, 45178, 4520...","Auvilliers-en-Gâtinais, Beauchamps-sur-Huillar...","450170000, 450270000, 450310000, 450780000, 45..."
4,15000,87,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
...,...,...,...,...,...
444,26190,11,"26059, 26066, 26117, 26163, 26217, 26223, 2627...","Bouvante, La Motte-Fanjas, Le Chaffal, Léoncel...","260590000, 260660000, 261170000, 261630000, 26..."
445,42520,8,"42018, 42124, 42129, 42132, 42191, 42201, 4227...","Bessey, Lupé, Maclas, Malleval, Roisey, Saint-...","420180000, 421240000, 421290000, 421320000, 42..."
446,7000,8,"07004, 07072, 07074, 07090, 07092, 07098, 0714...","Ajoux, Coux, Creysseilles, Flaviac, Freyssenet...","070040000, 070720000, 070740000, 070900000, 07..."
447,7100,6,"07010, 07041, 07197, 07265","Annonay, Boulieu-lès-Annonay, Roiffieux, Saint...","070100101, 070100102, 070100103, 070100201, 07..."
448,38270,5,"38032, 38034, 38037, 38198, 38209, 38219, 3824...","Beaufort, Beaurepaire, Bellegarde-Poussieu, Ja...","380320000, 380340000, 380370000, 381980000, 38..."

In [2]:
unique_merged_dataframe = merged_dataframe.drop_duplicates(subset=['Code postal'])
unique_merged_dataframe

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,45120,69,"45061, 45068, 45104, 45156","Cepoy, Châlette-sur-Loing, Corquilleroy, Girolles","450610000, 450680101, 450680102, 450680103, 45..."
1,45490,44,"45103, 45114, 45158, 45186, 45206, 45207, 4525...","Corbeilles, Courtempierre, Gondreville, Lorcy,...","451030000, 451140000, 451580000, 451860000, 45..."
2,45700,16,"45092, 45102, 45105, 45185, 45212, 45216, 4524...","Chevillon-sur-Huillard, Conflans-sur-Loing, Co...","450920000, 451020000, 451050000, 451850000, 45..."
3,45270,10,"45017, 45027, 45031, 45078, 45150, 45178, 4520...","Auvilliers-en-Gâtinais, Beauchamps-sur-Huillar...","450170000, 450270000, 450310000, 450780000, 45..."
4,15000,87,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
...,...,...,...,...,...
441,7790,15,07205,Saint-Alban-d'Ay,072050000
444,26190,11,"26059, 26066, 26117, 26163, 26217, 26223, 2627...","Bouvante, La Motte-Fanjas, Le Chaffal, Léoncel...","260590000, 260660000, 261170000, 261630000, 26..."
445,42520,8,"42018, 42124, 42129, 42132, 42191, 42201, 4227...","Bessey, Lupé, Maclas, Malleval, Roisey, Saint-...","420180000, 421240000, 421290000, 421320000, 42..."
447,7100,6,"07010, 07041, 07197, 07265","Annonay, Boulieu-lès-Annonay, Roiffieux, Saint...","070100101, 070100102, 070100103, 070100201, 07..."
448,38270,5,"38032, 38034, 38037, 38198, 38209, 38219, 3824...","Beaufort, Beaurepaire, Bellegarde-Poussieu, Ja...","380320000, 380340000, 380370000, 381980000, 38..."

### Recherche de base

In [3]:
import psycopg2
import pandas as pd

# Récupérez les codes postaux du DataFrame
codes_postaux = unique_merged_dataframe["Code postal"].tolist()

# Convertissez les codes postaux en chaînes de caractères (str)
codes_postaux_str = [str(code_postal) for code_postal in codes_postaux]

# Établissez la connexion à votre base de données PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="Base",
    user="waouhmonde",
    password="waouhmonde"
)

# Créez une requête SQL pour rechercher les lignes correspondantes dans votre table
query = "SELECT * FROM ma_table WHERE code_postal IN %s"

# Exécutez la requête SQL en utilisant les codes postaux convertis comme paramètres
df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

# Fermez la connexion à la base de données
conn.close()

# Affichez le DataFrame résultant
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_14916\233544305.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

,id,nom,adresse,code_postal,ville,numero_telephone,tranche_age,autre_colonne
0,182937,Delpuech Catherine,,15120,MONTSALVY,471496654,ENTRE 18 ET 30 ANS,1
1,176630,Rouchez Veronique,CHEYLANE,15300,LAVEISSENET,973572685,+ 70 Ans,1
2,181574,BELAUBRE MANON,,15600,MAURS,463274346,ENTRE 18 ET 30 ANS,1
3,208039,Marguerite Faure,16 BANCEL,26140,ANDANCETTE,981305054,+ 70 Ans,1
4,203733,Pons Florent,LE COUDERC,15130,YOLET,950087705,ENTRE 18 ET 30 ANS,1
...,...,...,...,...,...,...,...,...
185490,556885,Didier Vautrin,COURS AUXOIS,71250,VITRY LES CLUNY,385599030,ENTRE 50 ET 70 ANS,2
185491,556886,Dominique Seiz,LIEU-DIT VERS LE PONT,71250,VITRY LES CLUNY,963697002,ENTRE 50 ET 70 ANS,2
185492,556887,Edmond Desroches,LE BOURG,71250,VITRY LÈS CLUNY,385599230,ENTRE 50 ET 70 ANS,2
185493,556888,F Martin,LIEU-DIT VERS LE PONT,71250,VITRY LÈS CLUNY,622078780,+ 70 Ans,2
185494,556889,Fernando Ferreira,LE BOURG,71250,VITRY LÈS CLUNY,970905705,ENTRE 30 ET 50 ANS,2

In [ ]:
import pandas as pd

# Supposons que vous ayez un DataFrame appelé df que vous souhaitez enregistrer dans un fichier Excel
# Spécifiez le nom du fichier Excel dans lequel vous souhaitez enregistrer le DataFrame
nom_fichier_excel = 'FichierSimilation.xlsx'

# Utilisez la méthode to_excel pour enregistrer le DataFrame dans le fichier Excel
df.to_excel(nom_fichier_excel, index=False)  # L'argument index=False évite d'enregistrer l'index du DataFrame

print(f"Le DataFrame a été enregistré dans {nom_fichier_excel}")