In [4]:
import pandas as pd
import os

# Définissez le chemin du dossier contenant les fichiers Excel
dossier = "Nouveaux codes postaux"
dataframes = {}

# Listes pour stocker les noms des variables locales et des DataFrames
noms_variables_locales = []
noms_dataframes = []

for i, fichier in enumerate(os.listdir(dossier)):
    if fichier.endswith(".xlsx"):  
        nom_dataframe = os.path.splitext(fichier)[0].replace(" ", "_")  # Remplace les espaces par des soulignements
        chemin_fichier = os.path.join(dossier, fichier)
        
        # Chargez les données dans le DataFrame correspondant et renommez la variable locale
        nom_variable_dataframe = f"df_{nom_dataframe}"
        locals()[nom_variable_dataframe] = pd.read_excel(chemin_fichier)

        dataframes[nom_dataframe] = locals()[nom_variable_dataframe]
        
        noms_variables_locales.append(nom_variable_dataframe)
        noms_dataframes.append(nom_dataframe)

# Affichez les noms des DataFrames
print("Liste des noms de variables locales :")
print(noms_variables_locales)

Liste des noms de variables locales :
['df_15_GONDE', 'df_AURILLAC_15', 'df_AURILLAC_30', 'df_AURILLAC_45', 'df_CReCHE_15', 'df_CReche_30', 'df_CReche_45', 'df_Gondreville_30', 'df_Gondreville_45', 'df_PRIVAS__15', 'df_PRIVAS_30', 'df_PRIVAS_45', 'df_Roquebrun_15', 'df_Roquebrune_30', 'df_Roquebrune_45', 'df_VALENCE_15', 'df_VALENCE_30', 'df_VALENCE_45']

In [6]:
df_AURILLAC_15

,Code postal,% dans la zone,Communes associées au code postal,Nom des communes associées au code postal,IRIS associés au code postal
0,15000,87,"15014, 15267","Aurillac, Ytrac","150140101, 150140102, 150140103, 150140104, 15..."
1,15130,31,"15012, 15028, 15058, 15074, 15085, 15090, 1515...","Arpajon-sur-Cère, Carlat, Cros-de-Ronesque, Gi...","150120101, 150120102, 150280000, 150580000, 15..."
2,15250,12,"15016, 15056, 15083, 15095, 15118, 15140, 1516...","Ayrens, Crandelles, Jussac, Laroquevieille, Ma...","150160000, 150560000, 150830000, 150950000, 15..."
3,15220,8,"15117, 15163, 15172, 15196, 15264","Marcolès, Roannes-Saint-Mary, Saint-Antoine, S...","151170000, 151630000, 151720000, 151960000, 15..."

In [10]:
import psycopg2
import pandas as pd

# Récupérez les codes postaux du DataFrame
codes_postaux = df_Roquebrun_15["Code postal"].tolist()

# Convertissez les codes postaux en chaînes de caractères (str)
codes_postaux_str = [str(code_postal) for code_postal in codes_postaux]

# Établissez la connexion à votre base de données PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="Base",
    user="waouhmonde",
    password="waouhmonde"
)

# Créez une requête SQL pour rechercher les lignes correspondantes dans votre table
query = "SELECT * FROM ma_table WHERE code_postal IN %s"

# Exécutez la requête SQL en utilisant les codes postaux convertis comme paramètres
df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

# Fermez la connexion à la base de données
conn.close()

# Affichez le DataFrame résultant
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_14292\1801848869.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(tuple(codes_postaux_str),))

Empty DataFrame
Columns: [id, nom, adresse, code_postal, ville, numero_telephone, tranche_age, autre_colonne]
Index: []